

body {
  font-family: Arial Narrow, Arial Narrow, Arial Narrow;
}


h1 {
  color: rgb(238, 88, 89);
  font-size: 127%;
}

.title {
  margin-right: 200px;
}

h2 {
  color: rgb(238, 88, 89);
  font-size: 124%;
}

h3 {
  font-size: 109%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

.watermark {
  opacity: 0.2;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 500%;
  color: #00407d;
}
.figure {
   margin-top: 500px;
   margin-bottom: 1000px;
}
